.my-tooltip{
    position: absolute;
    color: #fff;
    z-index: 1000;
    background: rgba(44,63,79,0.9);
    padding: 5px;
    border-radius: 5px;
    font-family: 'Ubuntu', sans-serif;
}

.my-card-options{
    position: absolute;
    color: #fff;
    z-index: 1000;
    background: rgba(44,63,79,0.9);
    padding: 0px;
    border-radius: 5px;
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    flex-direction: column;
}
.card-options-item{
    padding: 0 5px;
    listStyle: none;
    margin: 0;
}
.card-options-item:hover{
    background-color: rgba(0,0,0,1);
    cursor: pointer;
}
.close-card-options:hover{
    background-color: rgba(0,0,0,1);
    cursor: pointer;
}
.close-card-options{
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 0 8px;
    border-radius: 5px;
}
