.self{
    border: 2px solid #dedede;
    background-color: #D9F8CB;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    float: right;
    margin-left:auto;
    margin-right:2px;
}

.group-title-container{
    display: flex;
    width: 100%;
    font-family: 'Ubuntu', sans-serif;
    background-color: rgba(16,777,216,1);
}

.chat-inner-container-title{
    cursor: pointer;
}

.chat-inner-container button {
    position: relative;
    background-color: inherit;
    border: 10px;
    border-color: #ccc;
    font-size: 18px;
    color: #000;

    width: 40px;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}

.chat-inner-container button:after {
    content: "";
    background: #ccc;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}

.chat-inner-container button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}

.chat-inner-container-title {
    flex:2;
    margin: 0px;
    background-color: inherit;
    color: #000;
    text-align: center;
    padding: 8px 10px;
    font-size: 18px;
}

.friend{
    border: 2px solid #dedede;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    width: 100%;

    border-color: #ccc;
    background-color: #FEFEFE;
}

.friend img {
    float: left;
    max-width: 40px;
    width: 100%;
    margin-right: 10px;
    border-radius: 50%;
}

.self img {
    float: right;
    margin-left: 10px;
    margin-right:0;
    max-width: 40px;
    width: 100%;
    border-radius: 50%;
}

.chat-list-container{
    margin: 10px 10px 0 10px;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 538px;
    overflow-y: scroll;
    scroll-behavior: auto;
    flex: 92%;
}
.chat-inner-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    position: relative;
    color: #000;
    background: #E4DCD9;
    font-family: 'Ubuntu', sans-serif;
}

.message-input-field{
    border: 2px solid grey;
    border-radius: 10px;
    padding: 0 10px;
    flex: 8%;
    position: relative;
}

.friend chat-timestamp{
    float: right;
    color: #aaa;
    font-size: 13px;
}

.self chat-timestamp{
    float: left;
    color: #999;
    font-size: 13px;
}

.self span1{
    font-size: 0px;
    float: left;
    visibility: hidden;
}

.friend span1{
    font-size: 13px;
    float: right;
    color: #aaa;
}
