.self{
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
}

.friend{
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;

    border-color: #ccc;
    background-color: #ddd;
}

.friend img {
    float: left;
    max-width: 40px;
    width: 100%;
    margin-right: 10px;
    border-radius: 50%;
}

.self img {
    float: right;
    margin-left: 10px;
    margin-right:0;
    max-width: 40px;
    width: 100%;
    border-radius: 50%;
}

.chat-list-container{
    margin: 10px 10px;
    padding: 0;
    height: 90%;
    display: flex;
    flex-direction: column;
}
.chat-inner-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    position: relative;
    color: #000;
    background: rgba(44,63,79,0.7);
}

.message-input-field{
    border: 2px solid grey;
    margin: 5px 1%;
    border-radius: 10px;
    padding: 10px;
    height: 80px;
}

.friend chat-timestamp{
    float: right;
    color: #aaa;
}

.self chat-timestamp{
    float: left;
    color: #999;
}