.choose-group-container{
    display: flex;
    height: 100%;
    justify-content: space-between;
    background: #abbaab;
    background: -webkit-radial-gradient(#ffffff, #abbaab);
    background: radial-gradient(#ffffff, #abbaab);
}

.recently-connected-container{
    flex: 1;
    color: #ffffff;
    background-color: rgba(44,63,79,0.7);
    height: 100%;
    overflow: auto;
}

.create-group-container{
    flex: 3;
    color: #ffffff;
    position: relative;
    height: 100%;
    overflow-y: auto;
}

.my-groups-container{
    flex: 1;
    color: #ffffff;
    background-color: rgba(44,63,79,0.7);
    height: 100%;
    overflow: auto;
}
@media screen and (max-width: 768px) {
    .hide-component-for-small-screens{
        display: none;
    }
}
