.game-selector-container{
    display: flex;
    justify-content: center;
    margin: 5px 0px;
}
.spec-selector{
    width: 40%;
}
.load-game-btn{
    margin: 0px 15px;
    width: 20%;
}
.add-delete-btn{
    margin: 0 2px;
    width: 15%;
}
