.game-selector-inner-container{
    margin: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    background: #E4DCD9;
}
.newgame-oldgame-container{
    padding: 20px 0;
}
.game-selector-inner-title{
    margin: 0;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    color: #000;
    padding: 10px 0;
}
.spec-selector{
    width: 90%;
    margin: 20px auto;
}
.load-game-btn{
    margin: 0px 15px;
    width: 50%;
    display: block;
    margin: 10px auto;
}
