.root-container{
    color: #FFF;
    width: 200;
    height: 200;
    display: flex;
}
.side-nav{
    flex:2;
    display: flex;
    background: #2c3e50;
    height: 650px;
    overflow:auto;
}
.play-arena-container{
    flex: 5;
}
.play-arena-component{
    display: flex;
    justify-content: center;
}
.side-chat{
    flex: 2;
    display: flex;
    height: 100%;
    overflow:auto;
}
