.root-container{
    color: #FFF;
    width: 250;
    display: flex;
}
.side-nav{
    flex:2;
    background: #2c3e50;
}
.play-arena-container{
    flex: 5;
}
.play-arena-component{
    display: flex;
    justify-content: center;
}
.side-chat{
    flex: 2;
}
