.signin-super-container{
    height: 100%;
    background: url('../res/pexels-photo-51055.jpg');
    background-position: center;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
}
.signin-root{
    position: absolute;
    top: 25%;
    width: 50%;
    background-color: rgba(255,255,255,0.7);
    border-radius: 5px;
    padding: 0 15px;
}
.signin-container{
    border-right: 1px solid black;
    padding: 15px;
    flex: 1;
}
.login-options-container{
    padding: 15px;
    flex: 1;
}
.form-signin-heading{
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    padding: 5px 0;
}
.login-container{
    margin: 5px;
    display: flex;
    justify-content: center space-between;
}
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.login-button-container{
    display: flex;
    padding: 0;
    justify-content: space-between;
    position: relative;
}
.middle-button-container{
    padding: 10px 0;
}
.login-button{
    width: 48%;
}
.link-with-phone:hover{
    text-decoration: none;
}
@media screen and (max-width: 992px) {
    .login-container{
        display: block;
    }
    .signin-container{
        border-right: 0;
    }
}
@media screen and (max-width: 650px) {
    .signin-root{
        width: 80%;
        padding: 0;
    }
}
