.mygroups-inner-container{
    padding: 10px 0 0 0;
}

.groups-item{
    list-style: none;
    font-family: 'Ubuntu', sans-serif;
    position: relative;
}

.groups-item-container{
    padding: 0px;
}

.groups-item:hover{
    background: rgba(44,63,79,1);
}

.item-link{
    text-decoration: none;
    color: inherit;
}

.item-span-div{
    width: 100%;
    height: 100%;
    padding: 5px 5px;
}

.item-link:hover{
    color: inherit;
    text-decoration: none;
}

.participants-list{
    margin: 0px;
    padding: 0px;
    text-align: left;
}

.participant-list-item{
    list-style: none;
}

#group-participants-tooltip{
    text-decoration: none;
    color: inherit;
}
