.root-container{
    color: #FFF;
    height: 100%;
    display: flex;
}
.play-arena-container{
    flex: 4;
}
.play-arena-component{
    display: flex;
    justify-content: center;
}
.side-chat{
    flex: 1;
    display: flex;
    height: 100%;
    background: #777;
}
