.root-container{
    color: #FFF;
    height: 100%;
    display: flex;
}
.play-arena-container{
    flex: 5;
    display: flex;
    justify-content: center;
}
.side-chat{
    flex: 2;
    height: 100%;
    position: relative;
    background: rgba(44,63,79,0.7);
}
.chat-or-games{
    height: 6%;
    display: flex;
    background: rgba(0,119,209,1);
}
.chat-games-tab{
    flex: 1;
    text-align: center;
    padding: 0;
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    text-transform: uppercase;
    position: relative;
    color: #ddd;
    cursor: pointer;
}
.tab-active{
    color: #fff;
    border-bottom-style: solid;
    border-bottom-width: 3px;
    border-bottom-color: #fff;
}
.tab-title-inner{
    padding: 5px;
    margin: auto 0;
    height: 100%;
}
