.root-container{
    color: #FFF;
    height: 100%;
    display: flex;
}
.play-arena-container{
    flex: 5;
}
.play-arena-component{
    display: flex;
    justify-content: center;
}
.side-chat{
    flex: 2;
    height: 100%;
    position: relative;
    background: rgba(44,63,79,0.7);
}
