.isOnline{
    background: #00ff00;
}

.isOffline{
    background: #ff0000;
}

li{
    list-style: none;
    margin: 2px auto;
    padding: 0px;
    font-family: 'Ubuntu', sans-serif;
}

.userNameContainer{
    display: flex;
    justify-content: space-between;
    padding: 0 10px 0 0;
}

.status-circle{
    width: 10px;
    height: 10px;
    border-radius: 5px;
}
