.recently-connected-inner-container{
    padding: 10px 0 0 0;
}

.isOnline{
    background: #00ff00;
}

.isOffline{
    background: #ff0000;
}

.user-name-item{
    list-style: none;
    margin: 3px auto;
    padding: 0px;
    font-family: 'Ubuntu', sans-serif;
    cursor: default;
}

.userNameContainer{
    display: flex;
    justify-content: space-between;
    padding: 0 10px 0 0;
}

.status-circle{
    width: 10px;
    height: 10px;
    border-radius: 5px;
    margin-top: auto;
    margin-bottom: auto;
}
