.register-inner-container{
    height: 100%;
    background: url('../res/pexels-photo-51055.jpg');
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.register-root{
    background-color: rgba(255, 255, 255, 0.7);
    width: 40%;
    padding: 15px;
    border-radius: 5px;
}
@media screen and (max-width: 768px) {
    .register-root{
        width: 80%;
    }
}
