.social-friends-inner-container{
    padding: 10px 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    position: relative;
}

.isOnline{
    background: #00ff00;
}

.isOffline{
    background: #ff0000;
}

.user-name-item{
    list-style: none;
    padding: 2px 0px 2px 15px;
    font-family: 'Ubuntu', sans-serif;
    cursor: default;
}

.userNameContainer{
    display: flex;
    justify-content: space-between;
    padding: 0 10px 0 0;
}

.status-circle{
    width: 10px;
    height: 10px;
    border-radius: 5px;
    margin-top: auto;
    margin-bottom: auto;
}

.create-group-final-button{
    margin: 10px 0 0 0;
    width: 70%;
    align-self: center;
}

.hoverable:hover{
    background: rgba(44,63,79,1);
}

.selected{
    background: #000;
}

.social-friends-list-container{
    padding: 0;
    margin: 0;
}
