.web-rtc-inner-container{
    height: 100%;
    position: relative;
}
#remotevideo{
    border: 1px solid black;
    width: 100%;
    height: auto;
}
#localvideo{
    border: 1px solid black;
    width: 75%;
    display: block;
    height: auto;
    margin: auto;
}
.call-button{
    width: 50%;
    display: block;
    margin: 5px auto;
}
.back-button{
    width: 50%;
    margin: 5px auto;
    display: block;
}
.group-members{
    margin: 0;
    padding: 0;
}
.group-members-item{
    list-style: none;
    cursor: pointer;
    padding: 5px 10px;
}
.group-members-item:hover{
    background: rgba(44,63,79,1);
}
.video-call-title{
    font-family: 'Ubuntu', sans-serif;
    width: 100%;
    padding: 10px;
    text-align: center;
    margin: 0;
}
