.header-container{
    height: 8%;
    padding: 0;
    margin: 0;
    position: relative;
}

.super-parent-container{
    height: 92%;
    position: relative;
}

.footer-container{
    height: 7%;
    position: relative;
}
