html, body, #root, .root {
    height: 100%;
}
div .root{
    /*background: url('components/res/pexels-photo-51055.jpg');
    background-size: cover;*/
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
footer{
    width: 100%;
    padding: 10px;
    position: absolute;
    bottom: 0;
    text-align: center;
    background: #cccccc;
}
