html, body, #root, .login-root {
    height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
footer{
    width: 100%;
    padding: 10px;
    position: absolute;
    bottom: 0;
    text-align: center;
    background: #cccccc;
}
